<footer data-elementor-type="footer" data-elementor-id="112" class="elementor elementor-112 elementor-location-footer" data-elementor-post-type="elementor_library">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-5f752f89 footer elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5f752f89" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-no">
			<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-b5208d8" data-id="b5208d8" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-197c660 elementor-widget elementor-widget-image" data-id="197c660" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img width="300" height="63" src="/RPLphoto/Logo.png" class="attachment-2048x2048 size-2048x2048 wp-image-29" alt="" />
						</div>
					</div>
					<div class="elementor-element elementor-element-3228507c elementor-tablet-align-start elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3228507c" data-element_type="widget" data-widget_type="icon-list.default">
						<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-icon">
										<i aria-hidden="true" class="fas fa-phone-volume"></i>
									</span>
									<span class="elementor-icon-list-text">8(916)-881-23-08</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-icon">
										<i aria-hidden="true" class="fas fa-envelope"></i>
									</span>
									<span class="elementor-icon-list-text">denbocarnikov55@gmail.com</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-icon">
										<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
									</span>
									<span class="elementor-icon-list-text">Moscow, Krasnogvardeyskaya underground</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-13adac49" data-id="13adac49" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-45846b13 elementor-widget elementor-widget-heading" data-id="45846b13" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Новости</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-77c00363 elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="77c00363" data-element_type="widget" data-widget_type="icon-list.default">
						<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Футбол</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Хоккей</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Баскетбол</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Формула 1</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Общее</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-382488a1" data-id="382488a1" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-217478d3 elementor-widget elementor-widget-heading" data-id="217478d3" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Спорт</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-830144a elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="830144a" data-element_type="widget" data-widget_type="icon-list.default">
						<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Где смотреть</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Топ лиги</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Бесплатные сервисы</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Платные сервисы</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Еще</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-c57048c" data-id="c57048c" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-3f04e01b elementor-widget elementor-widget-heading" data-id="3f04e01b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Будь с нами</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-3d60821 elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3d60821" data-element_type="widget" data-widget_type="icon-list.default">
						<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Приглашай друзей</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Изучайте вместе</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Получайте обновления</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Учитесь</span>
								</li>
								<li class="elementor-icon-list-item">
									<span class="elementor-icon-list-text">Читать больше</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-5e18402f" data-id="5e18402f" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-34ff3ba3 elementor-widget elementor-widget-heading" data-id="34ff3ba3" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Получай рассылку</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-1ddb37f5 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="1ddb37f5" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
						<div class="elementor-widget-container">
							<form class="elementor-form" method="post" name="New Form" aria-label="New Form">
								<input type="hidden" name="post_id" value="112" />
								<input type="hidden" name="form_id" value="1ddb37f5" />
								<input type="hidden" name="referer_title" value="" />

								<input type="hidden" name="queried_id" value="43" />

								<div class="elementor-form-fields-wrapper elementor-labels-">
									<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_1 elementor-col-100">
										<label for="form-field-field_1" class="elementor-field-label elementor-screen-only">
											Имя
										</label>
										<input size="1" type="text" name="form_fields[field_1]" id="form-field-field_1" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Имя">
									</div>
									<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
										<label for="form-field-email" class="elementor-field-label elementor-screen-only">
											Почта
										</label>
										<input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Почта" required="required">
									</div>
									<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
										<button class="elementor-button elementor-size-sm" type="submit">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Подписаться</span>
											</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="elementor-section elementor-top-section elementor-element elementor-element-634e1024 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="634e1024" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
		<div class="elementor-container elementor-column-gap-no">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-46ee9c6" data-id="46ee9c6" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-22b3644b elementor-widget elementor-widget-heading" data-id="22b3644b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<p class="elementor-heading-title elementor-size-default">&copy; 2025 - DenchikSportsRu - <a href="/">Домой</a> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-43f7176c" data-id="43f7176c" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-7f1fc21d e-grid-align-right e-grid-align-mobile-center elementor-shape-circle elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="7f1fc21d" data-element_type="widget" data-widget_type="social-icons.default">
						<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
								<span class="elementor-grid-item" role="listitem">
									<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-0267196" href="https://www.facebook.com/">
										<span class="elementor-screen-only">Facebook-f</span>
										<i class="fa-brands fa-facebook"></i>
									</a>
								</span>
								<span class="elementor-grid-item" role="listitem">
									<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-repeater-item-dc10550" href="https://x.com/">
										<span class="elementor-screen-only">X-twitter</span>
										<i class="fa-brands fa-x-twitter"></i>
									</a>
								</span>
								<span class="elementor-grid-item" role="listitem">
									<a class="elementor-icon elementor-social-icon elementor-social-icon-pinterest elementor-repeater-item-d2d5c50" href="https://ru.pinterest.com/">
										<span class="elementor-screen-only">Pinterest</span>
										<i aria-hidden="true" class="fab fa-pinterest"></i>
									</a>
								</span>
								<span class="elementor-grid-item" role="listitem">
									<a class="elementor-icon elementor-social-icon elementor-social-icon-icon-instagram-1 elementor-repeater-item-92c0998" href="https://www.instagram.com/">
										<span class="elementor-screen-only">Instagram</span>
										<i class="fa-brands fa-instagram"></i>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</footer>
</footer>


