.elementor-kit-5 {
    --e-global-color-primary: #4C0E0F;
    --e-global-color-secondary: #C62300;
    --e-global-color-text: #666666;
    --e-global-color-accent: #C62300;
    --e-global-typography-primary-font-family: "Barlow";
    --e-global-typography-primary-font-size: 28px;
    --e-global-typography-primary-font-weight: 900;
    --e-global-typography-primary-text-transform: uppercase;
    --e-global-typography-primary-font-style: normal;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-primary-letter-spacing: 0.5px;
    --e-global-typography-secondary-font-family: "Barlow";
    --e-global-typography-secondary-font-size: 15px;
    --e-global-typography-secondary-font-weight: 900;
    --e-global-typography-secondary-text-transform: uppercase;
    --e-global-typography-secondary-font-style: normal;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-letter-spacing: 0.5px;
    --e-global-typography-text-font-family: "Montserrat";
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-text-font-weight: 500;
    --e-global-typography-text-text-transform: none;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-accent-font-family: "Montserrat";
    --e-global-typography-accent-font-weight: 700;
    --e-global-typography-accent-text-transform: uppercase;
    --e-global-typography-accent-font-style: normal;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-letter-spacing: 0.5px;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    text-transform: var( --e-global-typography-text-text-transform );
    font-style: var( --e-global-typography-text-font-style );
    text-decoration: var( --e-global-typography-text-text-decoration );
}

    .elementor-kit-5 button, .elementor-kit-5 input[type="button"], .elementor-kit-5 input[type="submit"], .elementor-kit-5 .elementor-button {
        background-color: var( --e-global-color-secondary );
        font-family: "Open Sans", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        color: #FFFFFF;
        border-style: none;
        border-radius: 5px 5px 5px 5px;
    }

        .elementor-kit-5 button:hover, .elementor-kit-5 button:focus, .elementor-kit-5 input[type="button"]:hover, .elementor-kit-5 input[type="button"]:focus, .elementor-kit-5 input[type="submit"]:hover, .elementor-kit-5 input[type="submit"]:focus, .elementor-kit-5 .elementor-button:hover, .elementor-kit-5 .elementor-button:focus {
            background-color: var( --e-global-color-primary );
            border-style: none;
            border-radius: 5px 5px 5px 5px;
        }

    .elementor-kit-5 e-page-transition {
        background-color: #FFBC7D;
    }

    .elementor-kit-5 a {
        color: var( --e-global-color-secondary );
        font-family: "Montserrat", Sans-serif;
        font-weight: 700;
        text-transform: capitalize;
        font-style: normal;
        text-decoration: none;
    }

    .elementor-kit-5 h2 {
        color: var( --e-global-color-primary );
        font-family: "Montserrat", Sans-serif;
        font-weight: 700;
        text-transform: capitalize;
        font-style: normal;
        text-decoration: none;
    }

    .elementor-kit-5 img {
        border-style: none;
    }

        .elementor-kit-5 img:hover {
            border-radius: 5px 5px 5px 5px;
        }

    .elementor-kit-5 label {
        color: var( --e-global-color-primary );
        font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
        font-weight: var( --e-global-typography-accent-font-weight );
        text-transform: var( --e-global-typography-accent-text-transform );
        font-style: var( --e-global-typography-accent-font-style );
        text-decoration: var( --e-global-typography-accent-text-decoration );
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
    }

    .elementor-kit-5 input:not([type="button"]):not([type="submit"]), .elementor-kit-5 textarea, .elementor-kit-5 .elementor-field-textual {
        font-family: var( --e-global-typography-text-font-family ), Sans-serif;
        font-size: var( --e-global-typography-text-font-size );
        font-weight: var( --e-global-typography-text-font-weight );
        text-transform: var( --e-global-typography-text-text-transform );
        font-style: var( --e-global-typography-text-font-style );
        text-decoration: var( --e-global-typography-text-text-decoration );
        color: var( --e-global-color-text );
        border-style: solid;
        border-color: #CCCCCC;
        border-radius: 5px 5px 5px 5px;
    }

        .elementor-kit-5 input:focus:not([type="button"]):not([type="submit"]), .elementor-kit-5 textarea:focus, .elementor-kit-5 .elementor-field-textual:focus {
            color: var( --e-global-color-text );
            border-style: solid;
            border-color: #CCCCCC;
            border-radius: 5px 5px 5px 5px;
        }

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1300px;
}

.e-con {
    --container-max-width: 1300px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-5 {
        font-size: var( --e-global-typography-text-font-size );
    }

        .elementor-kit-5 label {
            letter-spacing: var( --e-global-typography-accent-letter-spacing );
        }

        .elementor-kit-5 input:not([type="button"]):not([type="submit"]), .elementor-kit-5 textarea, .elementor-kit-5 .elementor-field-textual {
            font-size: var( --e-global-typography-text-font-size );
        }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-5 {
        font-size: var( --e-global-typography-text-font-size );
    }

        .elementor-kit-5 label {
            letter-spacing: var( --e-global-typography-accent-letter-spacing );
        }

        .elementor-kit-5 input:not([type="button"]):not([type="submit"]), .elementor-kit-5 textarea, .elementor-kit-5 .elementor-field-textual {
            font-size: var( --e-global-typography-text-font-size );
        }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}

.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 0 !important;
}
